script(type="text/javascript" src="scripts/jquery-1.11.3.min.js")
script(type="text/javascript" src="scripts/bootstrap.min.js")
script(type="text/javascript" src="scripts/coursefeed.js")
script(type="text/javascript" src="scripts/addpost.js")
script(type="text/javascript" src="/selectize/dist/js/standalone/selectize.js")
script(type="text/javascript" src="/datetimepicker/build/jquery.datetimepicker.full.min.js")

link(rel='stylesheet', href='/styles/coursefeed.css')
link(rel='stylesheet', href='/styles/flatly.css')
link(rel='stylesheet', href='/selectize/dist/css/selectize.default.css')
link(rel='stylesheet', href='/datetimepicker/build/jquery.datetimepicker.min.css')

include coursePosts.html