script(type="text/javascript" src="scripts/jquery-1.11.3.min.js")
script(type="text/javascript" src="scripts/jquery.cookie.js")
script(type="text/javascript" src="scripts/bootstrap.min.js")
script(type="text/javascript" src="scripts/logic.js")
link(rel='stylesheet', href='/styles/bootstrap.min.css')
link(rel='stylesheet', href='/styles/font-awesome.min.css')
link(rel='stylesheet', href='/styles/loginSignUp.css')
link(rel='stylesheet', href='/styles/animate.css')
include login.html
