script(type="text/javascript" src="scripts/jquery-1.11.3.min.js")
script(type="text/javascript" src="scripts/bootstrap.min.js")
script(type="text/javascript" src="scripts/dropzone.js")
script(type="text/javascript" src="scripts/logic.js")
script(type="text/javascript" src="scripts/two.js")
link(rel='stylesheet', href='/styles/bootstrap.min.css')
link(rel='stylesheet', href='/styles/font-awesome.min.css')
link(rel='stylesheet', href='/styles/userProfile.css')
link(rel='stylesheet', href='/styles/dropzone.css')
script(type="text/javascript" src="scripts/profileModal.js")
include newsFeed.html
script(type="text/javascript" src="scripts/schedule.js")
script(type="text/javascript" src="scripts/newsFeed.js")

