script(type="text/javascript" src="scripts/jquery-2.2.0.min.js")
//script(type="text/javascript" src="scripts/jquery-1.11.3.min.js")
script(type="text/javascript" src="scripts/bootstrap.min.js")
script(type="text/javascript" src="scripts/dropzone.js")
script(type="text/javascript" src="scripts/logic.js")
script(type="text/javascript" src="scripts/two.js")
link(rel='stylesheet', href='/styles/bootstrap.min.css')
link(rel='stylesheet', href='/styles/font-awesome.min.css')
link(rel='stylesheet', href='/styles/userProfile.css')
link(rel='stylesheet', href='/styles/dropzone.css')
script(type="text/javascript" src="scripts/profileModal.js")
//link(rel='stylesheet', href='/styles/coursefeed.css')
link(rel='stylesheet', href='/selectize/dist/css/selectize.default.css')
link(rel='stylesheet', href='/datetimepicker/build/jquery.datetimepicker.min.css')
script(type="text/javascript" src="/scripts/moment.min.js")

link(rel='stylesheet', href='/styles/courses-list.css')
script(type="text/javascript" src="scripts/courses-load.js")

include newsFeed.html
script(type="text/javascript" src="scripts/schedule.js")
script(type="text/javascript" src="scripts/newsFeed.js")
script(type="text/javascript" src="/datetimepicker/build/jquery.datetimepicker.full.min.js")
script(type="text/javascript" src="/selectize/dist/js/standalone/selectize.js")
script(type="text/javascript" src="scripts/courses-sidebar.js")
script(type="text/javascript" src="scripts/coursefeed.js")
script(type="text/javascript" src="scripts/addpost.js")

