include newsFeed.html
script(type="text/javascript" src="scripts/jquery-1.11.3.min.js")
script(type="text/javascript" src="scripts/dropzone.js")
link(rel='stylesheet', href='/styles/dropzone.css')
script(type="text/javascript" src="scripts/two.js")
script(type="text/javascript" src="scripts/schedule.js")
script(type="text/javascript" src="scripts/newsFeed.js")
script(type="text/javascript" src="scripts/profileModal.js")