<!DOCTYPE html>
<html lang="en">

<head>
    <title>CSBook Sign Up</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--    Fonts -->
    <link type="text/css" rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,700">
    <link type="text/css" rel="stylesheet" href="http://fonts.googleapis.com/css?family=Oswald:400,700,300">
    <link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>

</head>

<body>
    <div class="row logIn-frame">
        <div class="col-lg-4 col-lg-offset-4 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
            <div class="panel panel-yellow">
                <div class="panel-heading">
                    CSBook User Sign Up
                </div>
                <div class="panel-body pan form-horizontal">

                  <form action="#">
        						<div class="form-body pal">

        							<div class="form-group">
        								<div class="col-md-12">
        									<div class="input-icon right">
        										<input id="inputName" type="text" placeholder="UserName" class="form-control" />
        									</div>
        								</div>
        							</div>

        							<div class="form-group">
        								<div class="col-md-12">
        									<div class="input-icon right">
        										<input id="inputPassword" type="password" placeholder="Password" class="form-control" />
        									</div>
        								</div>
        							</div>

        							<div class="form-group">
        								<div class="col-md-12">
        									<div class="input-icon right">
        										<input id="indexNo" type="text" placeholder="Index no." class="form-control" />
        									</div>
        								</div>
        							</div>

        							<div class="form-group">
        								<div class="col-md-12">
        									<div class="input-icon right">
        										<input id="inputFirstName" type="text" placeholder="FirstName" class="form-control" />
        									</div>
        								</div>
        							</div>

        							<div class="form-group">
        								<div class="col-md-12">
        									<div class="input-icon right">
        										<input id="inputLastName" type="text" placeholder="LastName" class="form-control" />
        									</div>
        								</div>
        							</div>

                    </div>
  							  </form>

    						  <form action="/pictureUpload" class="dropzone" style="border-radius:7px;">
      						  <div class="fallback">
    									<input id="inputPicture" name="picture" type="picture" multiple />
    								</div>
    							</form>

					<a href="NewsFeedPage.html" class="btn btn-primary btn-form-submit"  onclick="CreateUserAccount() " >Create Account</a>&nbsp;&nbsp;
        </div>  <!--END PANEL BODY-->
      </div>  <!--END OF PANEL-->

    </div>
  </div>

</body>
</html>
