.tags
{
	/*border:solid;
	border-color: #eeeeee;*/
	border-width: 1px;
	border-radius: 4px;
	margin-bottom: 10px;
	margin-left:12px;
	margin-top:10px;
	font-size:large;
}

body > div > div.col-sm-3
{
	/*position: fixed;*/
    bottom: 0;
    right: 0;
    width: 300px;
    border-left:solid;
    border-width: 1px;
    border-color:#aaaaaa;
    background-color: #5F9EA0;
}
